######
# OS #
######
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#######
# IDE #
#######
.idea/*

################
# Non-minified #
################
js/Bootstrap/bootstrap.js
css/Bootstrap/bootstrap.css
css/Bootstrap/bootstrap.css.map

###########################
# Project Scratch Folders #
###########################
assets/photoshop/*