######
# OS #
######
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#######
# IDE #
#######
.idea/*

################
# Non-minified #
################
js/libs/bootstrap.js
js/libs/jquery-3.2.1.js
js/libs/jquery.fullPage.js
js/libs/particles.js
styles/libs/bootstrap.css

###########################
# Project Scratch Folders #
###########################
*.psd
*.temporary

Jekyll
-------
_site
.sass-cache
node_modules

