/******************************************
 * Start Ring Preloader
 ******************************************/
@import '../base/_variables';

// Ring Loader Variables
$ring-thickness: 3px;
$preloader-size: 150px;

// rotates by $deg amount
@mixin rotate($deg) {
  -webkit-transform: rotate($deg); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: rotate($deg); /* IE 9 */
  transform: rotate($deg); /* Firefox 16+, IE 10+, Opera */
}

// calls both types of keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// runs an animation linear - infinitely
@mixin animation($animation, $duration) {
  -webkit-animation: $animation $duration linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: $animation $duration linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $background-dark-color;
}

.ring-border {
  border-radius: 50%;
  border: $ring-thickness solid transparent;
}

#preloader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: $preloader-size;
  height: $preloader-size;
  margin-top: -($preloader-size/2);
  margin-left: -($preloader-size/2);

  @extend .ring-border;
  border-top-color: $primary-color;

  @include animation(spin, 2s);
}

#preloader:before {
  $distance: 20px;
  content: "";
  position: absolute;
  top: $distance;
  left: $distance;
  right: $distance;
  bottom: $distance;

  @extend .ring-border;
  border-top-color: $secondary-color;

  @include animation(spin-reverse, 0.7s);
}

#preloader:after {
  $distance: 30px;
  content: "";
  position: absolute;
  top: $distance;
  left: $distance;
  right: $distance;
  bottom: $distance;

  @extend .ring-border;
  border-top-color: $highlight-bright-color;

  @include animation(spin, 1.7s);
}

@include keyframes(spin) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@include keyframes(spin-reverse) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(-360deg);
  }
}

/******************************************
 * End Ring Preloader
 ******************************************/