//Website Wide
$font: Arial, sans-serif;
$screen-break-small: 768px;
$primary-color: #e86f19;

//Navbar
$navbar-font: 'Roboto', Helvetica, Arial, sans-serif;
$navbar-font-size: 16px;
$navbar-border-color: #FFF;
$navbar-font-color: #FFF;
$navbar-background-color: #3b3b3b;
$navbar-element-back-color: $primary-color;//rgba(76, 76, 76, 0.4);

//Landing Page
//TODO - use the relative path, this is just a workaround to get around webstorms default server configuration
$landing-img: url("/cole/img/landing_picture.jpeg");


$title-img: url("/cole/img/title_img.jpeg");