 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Cool Tech</h2>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Some technologies I've used that I really like.</p>
    </div>
    <div class="tech">
      <h2>Neat Tools</h2>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <p>My favourite tools to speed-up development.</p>
    </div>
    <div class="tech">
      <h2>Home</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <p>My favourite development tools/environments.</p>
    </div>
</div>
