section#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .user-projects {
    margin: 0em auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    .image {
      width: 50%;

      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }

    .contents {
      width: 40%;

      h3 {
        margin: 1em 0;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
  
        li {
          margin: 0.05em 0.1em;
          padding: 0.2em 0.4em;
          font-size: 1em;
          line-height: 1;
          color: $white;
          background-color: $pri;
          vertical-align: baseline;
          border-radius: 0.25em;
        }
      }

      p {
        margin-right: 5px;
      }
    }

    @media only screen and (max-width: $screen-break) {
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 4em;
    }

    .contents {
      @media only screen and (max-width: $screen-break) {
        width: 100%;
      }
    }
    
    .image {
      @media only screen and (max-width: $screen-break) {
        width: 100%;
      }
      img {
        @media only screen and (max-width: $screen-break) {
          float: left;
        }
      }
    }
  }
}
