/** Landing Page CSS **/
@import '../base/_variables';

.parallax {
  min-height: 400px;
  width: 100%;

  background: no-repeat fixed center;
  background-size: cover;
}

.banner {
  background-image: $title-img;
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    display: block;
    color: white;

    img {
      width: 75%;
    }
  }
}

.img2 {
  background-image: $landing-img;
}