/** Navbar CSS **/
.navbar-transparent {
  background: transparent;
  border-bottom: 1px solid #FFF;
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;
  -moz-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out; }
  .navbar-transparent .nav > li > a {
    opacity: 1;
    -moz-transition: background 400ms ease-in-out;
    -o-transition: background 400ms ease-in-out;
    -webkit-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out; }
  .navbar-transparent .nav > li > a:focus, .navbar-transparent .nav > li > a:hover {
    background: #e86f19;
    color: #FFF;
    font-weight: bolder; }

.navbar-brand {
  padding: 0; }

.navbar-brand > img {
  height: 100%;
  padding: 5px;
  width: auto; }

.navbar-transparent .navbar-nav > li > a {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase; }

.navbar-transparent .navbar-toggle {
  border-color: #FFF; }
  .navbar-transparent .navbar-toggle .icon-bar {
    background-color: #FFF; }

.navbar-transparent .navbar-toggle:hover, .navbar-transparent .navbar-toggle:focus {
  background-color: rgba(59, 59, 59, 0.45); }

.navbar-transparent.affix {
  background-color: rgba(59, 59, 59, 0.6);
  -moz-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out; }

.nav > li > .web-button {
  background: #e86f19;
  border: 2px solid #FFF;
  padding: 13px;
  color: #FFF;
  font-weight: bolder;
  -moz-transition: background 450ms ease-in-out;
  -o-transition: background 450ms ease-in-out;
  -webkit-transition: background 450ms ease-in-out;
  transition: background 450ms ease-in-out; }

.nav > li > .web-button:focus, .nav > li > .web-button:hover {
  background: #a44e10 !important; }

/** Landing Page CSS **/
.parallax {
  min-height: 400px;
  width: 100%;
  background: no-repeat fixed center;
  background-size: cover; }

.banner {
  background-image: url("/manningconstruction.net/img/title_img.jpeg");
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner .message {
    display: block;
    color: white; }
    .banner .message img {
      width: 75%; }

.img2 {
  background-image: url("/manningconstruction.net/img/landing_picture.jpeg"); }
