/******************************************
 * Landing CSS
 ******************************************/
@import '../base/variables';
@import '../base/mixins';
@import '../animation/underline';
@import 'particles';
@import 'modal';

body {
  font-family: $font;
  overflow: hidden;
  @include background-radial-gradient($background-secondary-color, $background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

.btn-reset {
  border: transparent;
}

.icon {
  width: 25%;
  max-width: 300px;
  min-width: 50px;
  filter: contrast(70%) invert(100%);
}