/******************************************
 * Landing CSS
 ******************************************/
@import '../base/variables';
@import '../base/mixins';
@import '../animation/underline';
@import 'particles';
@import 'modal';

html {
  height: 100%;
}

body {
  font-family: $font;
  overflow: hidden;
  @include background-radial-gradient($background-secondary-color, $background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

ul {
  list-style-type: none;
}

.btn-reset {
  border: transparent;
}

.icon {
  width: 25%;
  max-width: 300px;
  min-width: 50px;
  filter: contrast(70%) invert(100%);
}

.vertical-align-container {
  display: table;
  height: 50%;
}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
}

.h2 {
  font-size: $subtitle-font-size-lg;
}

@media screen and (max-width: $screen-break-small) {
  .h2 {
    font-size: $subtitle-font-size-sm;
  }
}