/******************************************
 * Start Landing Page CSS
 ******************************************/
@import '../base/variables';
@import '../base/mixins';
@import '../animation/underline';
@import 'particles';
@import 'modal';

body {
  font-family: $font;
  overflow: hidden;
  @include background-radial-gradient($background-secondary-color, $background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

.btn-reset {
  border: transparent;
}
/******************************************
 * End Landing Page CSS
 ******************************************/