/******************************************
 * Modal CSS
 ******************************************/
@import '../base/variables';

.modal-header, .modal-body, .modal-footer {
  color: $title-font-color;
  background-color: $background-color;
  border: .5px solid $background-secondary-color;
  p {
    font-size: $body-font-size;
    font-weight: 300;
    color: $body-font-color;
  }

  li {
    font-size: $body-font-size;
  }

  img {
    max-height: 650px;
  }
}

.modal-title {
  font-weight: 700;
}